{% extends "note_register/base.html" %}

{% block content %}

<table class="table table borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>title</td>
            <td>Text</td>
            <td>Author</td>
            <td><a href="{% url 'insert' %}" class="btn btn-outline-succsess">
                <i class="fas fas-plus"></i> Add New
            </a>
            
        </td>
        </tr>
    </thead>
    <tbody>
        {% for note in list %}
        <tr>
         
            <td>{{note.title}}</td>
            <td>{{note.txt}}</td>
            <td>{{note.authorname}}</td>
            <td>
                <form action="{% url 'del' note.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button class="submit btn"><i class="far fa-trach-alt fa-lg text-danger float-right">delete</i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}